


body {
  margin: 0;
  background: linear-gradient(270deg, #f7b616, #fbe09b);
  
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  justify-content: center;
  align-items: center;
  --fb-orange-dark: #f7b616;  
  --fb-text-color-dark: #231604;
  
  --fb-text-color-white: var(--amplify-colors-background-primary);
  --amplify-components-button-primary-background-color: var(--amplify-colors-background-primary);
  --amplify-components-button-primary-color: var(var(--fb-orange-dark));
  --amplify-internal-button-color: var(--fb-text-color-dark);
  --amplify-internal-button-background-color: var(--fb-text-color-dark);
  --amplify-components-button-primary-hover-color : var(--fb-orange-dark);
  --amplify-colors-border-focus: var(--amplify-components-button-primary-background-color);
  --amplify-components-link-color: var(--amplify-colors-font-warning);
  --amplify-internal-button-background-color: var(--fb-orange-dark)
}

main {
  display: flex;
  flex-direction: column;
  
}
form {
  padding: 5px
}
.form:after, .label:after, .input:after{
  border: 1px dashed black;
  display: table;
  content: " ";
  clear: both;
}
.amplify-tabs {
  display: flex;
  flex-direction: column;
}
label {
  height: 100%;
  padding: 5px;
  width: 50%;
  float: left;
  text-align: right;
}
input, select {
  height: 100%;
  padding: 8px;
}

.amplify-grid {
  border:#1a1a1a
}
button {
  border-radius: 80px;
  border: 1px solid transparent;
  padding: 0.4em; 
  font-size: 1em;
  font-weight: 50;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  color: white;
  align-self: centre;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.amplify-label {
  padding: 1em 1em 1em 1em;
}
.amplify-grid{
  columns: 3;
}
.amplify-flex {
  flex-direction: row;
  display: flex;
  align-content: center;

}
.amplify-label {
  font-style: italic;
  padding: 1em 1em 1em 1em;
}
.amplify-select__wrapper {
  padding: 1em 1em 1em 1em;
}
.amplify-field-group.amplify-field-group--horizontal {
  padding: 1em 1em 1em 1em;
}
.input[required]{
  background-image: radial-gradient(#F00 15%, transparent 16%), radial-gradient(#F00 15%, transparent 16%);
  background-size: 1em 1em;
  background-position: right top;
  background-repeat: no-repeat;
}
.form-group.required .control-label:after {content:"*";color:red;}
ul {
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding: 0.5em;
  border: 1px solid black;
  gap: 1px;
  background-color: black;
  border-radius: 8px;
  overflow: auto;
  margin: 1em 3em 0em 1em;
}


main {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  color: white;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

table {
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  display: inline-block;
  flex-direction: column;
  margin: 8px 0;
  border: 1px solid black;
  gap: 1px;
  background-color: black;
  border-radius: 8px;
  
}

td {
  background-color: white;
  padding: 8px;
}

td:hover {
  background: #dadbf9;
}

a {
  font-weight: 800;
  text-decoration: none;
}